* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;    
}

header {
    display: flex;          
    justify-content: center;    
    height: 120px;   

    /* Fixar o header na página
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); */
}

.container {
    display: flex;
    width: 990px;           
    justify-content: space-between;    
}

.logo {
    display: flex;    
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {    
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;     
}

nav .active a, 
nav a:hover {
    background-color: #39aae1;
    color: #FFF;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;    
    background-size: cover;
    height: 600px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1, h2 {   
    margin: 0px;
    padding: 0px;
    color: #FFF;
    text-shadow: 0px 1px 0px #000; 
    max-width: 350px;   
}

.banner_headline h1 {
    font-size: 70px;        
}

.banner_headline h2 {
    font-size: 21px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
    color: #FFF;    
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
    font-size: 14px;
}

.hours {
    border-bottom: 1px solid #0079c7;
    display: flex;
    justify-content: space-between;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {    
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget_departments {        
    display: flex;            
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget_departments a { 
    width: 150px;
    height: 150px; 
    margin-bottom: 30px;
    background-color: #39aae1;
}

.widget_address {
    border-bottom: 1px solid #CCC;
    padding-bottom: 7px;
    padding-top: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.widget_address img {
    margin-right: 5px;
}

.widget_address label {
    padding-bottom: 20px;
}

.widget_address a {
    margin-right: 3px;
    margin-left: 3px;
}

address {
    font-style: normal;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;    
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_date {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #36a9e1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    color: #000;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    color: #FFF;
    display: flex;    
    flex: 1;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #FFF;    
    padding: 20px;
}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.fm_title {
    font-size: 21px;
}

.fm_desc {
    font-size: 13px;
    margin-top: 15px;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #FFF;
}

footer .widget_title_text {
    color: #FFF;
}

.footer_copy a {
    text-decoration: none;
    color: #5c5c5c;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer_desc_address {
    margin-bottom: 20px;
    color: #5c5c5c;
    font-size: 15px;
}

footer address,
footer article {
    margin-top: 20px;
} 

.footer_address {
    color: #5c5c5c;
    /* display: flex;
    justify-content: space-between; */
    font-size: 15px;
}

.footer_address_local {
    display: flex;
    justify-content: space-between;
}

.footer_address_localitem {
    display: flex;
    flex-direction: column;
}

.footer_address_local div,
.footer_address_contact div {
    padding-top: 3px;
}

.footer_address_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.footer_address_contact a {
    text-decoration: none;
    color: #FFF;
}

.footer_address_socialmedia {
    display: flex;
    margin-top: 20px;
}

.footer_article {
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer_article a {
    color: #0079c7;
}

.footer_article div {    
    margin-bottom: 5px;
}

.footer_aside {
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 20px; 
}

.footer_aside a {
    color: #0079c7;
    text-decoration: none;
}

.footer_aside div {    
    margin-bottom: 5px;
}

.footer_link_tweet a {
    color: #5c5c5c;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 600px) {

    nav ul {
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        display: none;
        background-color: #FFFF;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;        
        justify-content: space-around;
    }

    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }
    
    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #geral {
        margin-top: 150px;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu, 
    .footer_area {
        flex-direction: column;
    }

    .footer_area {        
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }    

    header {
        height: auto;
    }

    header .logo {
        padding-left: 20px;
    }   

}