* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firstMagic {
    background-color: #FF0000;
    width: 200px;
    height: 200px;
    margin: auto;

    transform: scale(2,0.5);
    /* Irá aumentar a div o dobro do width e o height irá diminuir pela metade. Valor 1 irá ficar inalterado. */

    /* O scale() aceita 2 valores, sendo o primeiro=width e o segundo=height. Podendo ser apenas um valor, ficando width e height, ele irá alterar ambos com o mesmo valor. */

    transform: scaleX(5);
    /* scaleX() é referente apenas ao width, e irá aumentar ele com base no valor informado. */

    transform: scaleY(2);
    /* scaleY() é referente apenas ao height, e irá aumentar ele com base no valor informado. */
}

.anotherMagic {
    background-color: #0000FF;
    width: 200px;
    height: 200px;
    margin: auto;
    
    transform: rotate(-50deg);
    /* O rotate, rotaciona o elemento, inforando o valor com "deg", o valor negativo, exemplo -50deg, irá girar no sentido contrário. */

    transform: rotateX(30deg);
    /* O rotateX, rotaciona o elemento na horizontal. */

    transform: rotateY(-20deg);
    /* O rotateY, rotaciona o elemento na vertical. */


    
    transform: skew(20deg, 50deg);
    /* O skew distorce o elemento, o primeiro valor na horizontal e o segundo valor na vertical */

    transform: skewX(50deg);
    /* O skewX distorce o elemento horizontalmente */

    transform: skewY(50deg);
    /* O skewY distorce o elemento verticalmente */
}