* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 20px;
    height: 30px;
}

/* Irá aplicar o css para o elemento, enquanto estiver vazio. Quando ele não for mais vazio, irá perder as alterações do css aplicado */
div:empty {
    background-color: #171717;
}