* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@media (aspect-ratio: 1/1) {
    
    body {
        background-color: #0F0;
    }
}

/* width / height - 2/1 = width o dobro do height */

@media (min-aspect-ratio: 2/1) {
    
    body {
        background-color: #F00;
    }
}

@media (max-aspect-ratio: 1/2) {

    body {
        background-color: #00F;
    }
}