* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.exemplo {
    color: #00f;
    margin: 50px;
    font-family: 'Chilanka';
}

h1 {
    color: #f00;
    text-shadow: 0px 0px 15px #000;
    margin: 50px;
    font-family: 'Redacted Script';
}