* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 20px;
}

h1 {
    background-color: #00F;
    color: #FFF;
}


.box {
    border: 2px solid #0F0;
    font-size: 1rem;
}

.box-interno {
    background-color: #000;
    color: #FFF;
}