:root {
    --bg-color: #000;
    --bg-second: #444;
    --font-color: #FFF;
    --font-size: 30px
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

h1 {
    color: var(--font-color);
}

.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 500px) {
    :root {
        --font-size: 15px
    }
}